input {
  width: 180px;
  padding: 5px;
  border: 1px solid #f0a500;
  border-radius: 5px;
  color: #52616f;
}
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

button{
  padding: 5px;
  border: none;
  cursor: pointer;
}
